@import url('https://www.theroyals.it/oldforum/style/TheRoyals_font.css');

/* TheRoyals Css Style Header*/

  #theroyals-header {
    position: relative;
    background: url(https://www.theroyals.it/oldforum/style/TheRoyals/img/main_top.png) top repeat-x;
    background-size: contain;
    @media @tablet-up {
      height: 100%;
    }
  }

  #theroyals-center {
    margin: auto;
    @media @tablet-up {
      width: 750px;
      height: 230px;
      margin: auto;
      position: relative;
      position: relative;
    }
  }

  #theroyals-title {
    background: url(https://www.theroyals.it/oldforum/style/TheRoyals/img/the_royals.png) no-repeat;
    background-size: contain;
    position: absolute;
    @media @tablet-up {
      height: 138px;
      width: 381px;
      top: 10px;
      left: 60px;
      position: absolute;
    }
  }

  #theroyals-phrase {
    background: url(https://www.theroyals.it/oldforum/style/TheRoyals/img/phrase.png) no-repeat;
    background-size: contain;
    position: absolute;
    @media @tablet-up {
      height: 87px;
      width: 230px;
      top: 135px;
      left: 100px;
      position: absolute;
    }
  }

  #theroyals-motor {
    background: url(https://www.theroyals.it/oldforum/style/TheRoyals/img/motorRE.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    @media @tablet-up {
      height: 257px;
      width: 294px;
      position: absolute;
      right: 20px;
      z-index: @zindex-header;
    }
  }

  #theroyals-header-bottom {
    background-color: #335146;
    clear: both;
    @media @tablet-up {
      height: 6px;
      width: 100%;
    }
  }

@media @tablet-up {
  #content .TagsPage .container,
  #content .container .sideNavContainer {
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
  }

  .App-content {
    margin-bottom: 15px;
    border-top: 0px;
  }

  #drawer #header .container {
    margin: 0px;
    padding: 0px;
    width: auto;
  }

  #header {
    background: none;
  }

  #header-navigation {
    margin-right: 0px;
  }

  // Was #theroyals-menu a
  .Header-primary a {
    text-decoration: none;
    font-family: FontleroyBrownRegular;
    font-size: 3em;
    color: #fff;
    padding-right: 8px;
  }

  .Header-secondary {
    background: #fff;
    border-radius: @border-radius;
    margin-right: 15px;
  }

  .Header-title {
    display: none;
  }
}

// TODO
#theroyals-menu {
	padding: 10px 5px;
}

#theroyals-user-menu {
	float: right;
	margin-right: 15px;
}

#theroyals-wrap {
	min-height: 100%;
}

#theroyals-bottom {
	margin-top: -150px;
	height: 150px;
	width: 100%;
	position: relative;
	background-color: #335146;
	clear: both;
	color: white;
	font-family: serif;
}

#theroyals-bottom .block {
	float: left;
	margin-right: 3em;
}

// Change some color and background of flarum
// the old #theroyals-bg
#app {
  @media @tablet-up {
    background: url(https://www.theroyals.it/oldforum/style/TheRoyals/img/bg_image.png) repeat-x;
    padding-bottom: 150px;
    background-size: 100% 100%;
    width: 100%;
    overflow:auto;
  }
}

#content .TagsPage .container,
#content .container .sideNavContainer {
  background: #fff;
}
