#theroyals-main-title {
  background: url('sites/all/themes/theroyals/images/the_royals_home.png') top left no-repeat;
  width: 400px;
  height: 162px;
  float: left;
}

#theroyals-main-motor {
  background: url('sites/all/themes/theroyals/images/motor_people.png') top right no-repeat;
  width: 400px;
  height: 427px;
  float: right;
  margin-top: 5%;
  margin-right: 5%;
  margin-left: 25px;
}

#theroyals-main-text {
  padding: 3% 6% 1%;
  margin: 0 5% 0;
  clear: left;
}

#theroyals-main-text p {
  line-height: 1.25em;
  font-weight: bold;
}

#theroyals-main h1 {
  text-align: right;
  font-size: 3.5em;
  padding-bottom: 5%;
  margin-left: 25%;
  text-align: center;
  position: relative;
}

#theroyals-main h1 span {
  display: inline-block;
}

#theroyals-main h1 span:before {
  display: block;
  content: open-quote;
  float: left;
  position: relative;
  font-size: 1.5em;
  padding-right: 0.2em;
}

#theroyals-main h1 span:after {
  display: block;
  content: close-quote;
  float: right;
  position: relative;
  font-size: 1.5em;
  padding-left: 0.2em;
}

/* TheRoyals Css Style TODO*/

#theroyals-header {
	height: 230px;
	position: relative;
	background: url(https://www.theroyals.it/oldforum/style/TheRoyals/img/main_top.png) top repeat-x;
	background-size: contain;
}

#theroyals-center {
	width: 750px;
	height: 230px;
	margin: auto;
	position: relative;
}

#theroyals-title {
	background: url(https://www.theroyals.it/oldforum/style/TheRoyals/img/the_royals.png) no-repeat;
	background-size: contain;
	height: 138px;
	width: 381px;
	top: 10px;
	left: 60px;
	position: absolute;
}

#theroyals-phrase {
	background: url(https://www.theroyals.it/oldforum/style/TheRoyals/img/phrase.png) no-repeat;
	background-size: contain;
	height: 87px;
	width: 230px;
	top: 135px;
	left: 100px;
	position: absolute;
}

#theroyals-motor {
	background: url(https://www.theroyals.it/oldforum/style/TheRoyals/img/motorRE.png) no-repeat;
	background-size: 100% 100%;
	height: 257px;
	width: 294px;
	position: absolute;
	right: 20px;
}

#theroyals-header-bottom {
	background-color: #335146;
	height: 6px;
	width: 100%;
	clear: both
}


#theroyals-menu {
	padding: 10px 5px;
}

#theroyals-menu a {
	text-decoration: none;
	font-family: FontleroyBrownRegular;
	font-size: 2.5em;
	color: #fff;
	padding-left: 15px;
}

#theroyals-user-menu {
	float: right;
	margin-right: 15px;
}

#theroyals-wrap {
	min-height: 100%;
}

#theroyals-bottom {
	margin-top: -150px;
	height: 150px;
	width: 100%;
	position: relative;
	background-color: #335146;
	clear: both;
	color: white;
	font-family: serif;
}

#theroyals-bottom .block {
	float: left;
	margin-right: 3em;
}

#theroyals-bg {
	background: url(https://www.theroyals.it/oldforum/style/TheRoyals/img/bg_image.png) repeat-x;
	background-size: 100% 100%;
	width: 100%;
	overflow:auto;
	padding-bottom: 150px;
}



